@charset "UTF-8";
/*-----------------全体の初期設定-----------------*/
* {
  box-sizing: border-box;
  font-family: メイリオ;
  margin: 0;
}

/*-----------------個別設定-----------------*/
body {
  background: #f8d8bf;
  margin: 0;   
  padding: 0;
}

article {
  width: 800px;
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  position: relative;
}

header {
  background: #f83;
  color: #fff;
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 0;
}

section {
  padding: 20px;
  border: 1px solid #ccc;
}

.flexContainer{
  display: flex;
  justify-content: space-around;
}

.btnArea {
  margin-top : 40px;
}

p.btn {
  margin: 0 auto 40px;
  width: 300px;
  text-align: center;
}

p.btn a {
  display: block;
  padding: 20px;
  background: #f83;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.2em;
}
